.Navigation nav {
    left: 50vw;
    bottom: 5rem;
    // transform: translateX(-50%);
    width: 50rem;
    z-index: 1;

    @include break(1150) {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        left: auto;
        bottom: auto;
        transform: translateX(0);
    }

    .hamburger-menu {
        z-index: 3;
        display: none;

        @include break(1150) {
            position: fixed;
            top: 2rem;
            right: 2rem;
            width: 4rem;
            height: 2.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        > div {
            width: 100%;
            height: .2rem;
            background: white;
            transition: all ease .5s;

            &:first-child {
                transform-origin: 10px;
            }

            &:last-child {
                transform-origin: 1px -4px;
            }
        }
    }

    .line {
        position: relative;
        border: .1rem solid rgb(158, 15, 15);
        height: 2rem;
        margin-top: 2rem;
        border-radius: 3rem;
        overflow: hidden;

        @include break(1150) {
            display: none;
        }

        .progress {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgb(221, 65, 65);
            left: -50rem;
            overflow: hidden;
            transition: all ease 1s;
        }
    }

    ul {
        height: 3rem;
        display: flex;
        list-style-type: none;
        justify-content: space-between;

        @include break(1150) {
            position: absolute;
            top: 0;
            left: -100vw;
            z-index: 2;
            width: 100vw;
            height: 100vh;
            background: linear-gradient(to top right, #ec5454, #5e65cc);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            pointer-events: none;
            transition: all ease .5s;

            li {
                margin: .5rem 0;
            }
        }

        li {
            a {
                margin: 0;
                text-decoration: none;

                p {
                    margin: 0;
                    color: white;
                    transition: all ease .4s;

                    @include break(1150) {
                        font-size: 3rem;
                    }
                }

                .nav-point {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    height: 1.2rem;
                    width: 1.2rem;
                    border: 1px solid black;
                    margin: 0 auto;
                    border-radius: 10rem;
                    transition: all ease .4s;

                    @include break(1150) {
                        display: none;
                    }

                    .bullet {
                        width: .6rem;
                        height: .6rem;
                        background: transparent;
                        border-radius: 10rem;
                        transition: all ease .4s;
                    }
                }

                &.active {
                    p {
                        transition: all ease 1s;
                    }

                    .nav-point {
                        transition: all ease 1s;

                        .bullet {
                            transition: all ease 1s;
                        }
                    }
                }

                &.active {
                    p {
                        color: rgb(170, 16, 16);

                        @include break(1150) {
                            color: white;
                        }
                    }

                    .nav-point .bullet {
                        background: rgb(170, 16, 16);
                    }
                }
            }
        }
    }

    // Active state
    &.show {
        .hamburger-menu {
            div:first-child {
                transform: rotate(45deg);
            }

            div:nth-child(2) {
                opacity: 0;
            }

            div:last-child {
                transform: rotate(-45deg);
            }
        }
        
        ul {
            pointer-events: all;
            opacity: 1;
        }
    }
}