.Navigation nav {
    position: absolute;
    left: 50vw;
    bottom: 5rem;
    transform: translateX(-50%);
    width: 50rem;

    .line {
        position: relative;
        border: .1rem solid black;
        height: 2rem;
        margin-top: 2rem;
        border-radius: 3rem;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background: black;
            transform: translateX(-46rem);
            transition: all ease .4s;
        }
    }

    ul {
        height: 3rem;
        display: flex;
        list-style-type: none;
        justify-content: space-between;

        li {
            a {
                margin: 0;
                text-decoration: none;

                p {
                    margin: 0;
                    color: black;
                    transition: all ease .4s;
                }

                .nav-point {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    height: 1.2rem;
                    width: 1.2rem;
                    border: 1px solid black;
                    margin: 0 auto;
                    border-radius: 10rem;
                    transition: all ease .4s;

                    .bullet {
                        width: .6rem;
                        height: .6rem;
                        background: transparent;
                        border-radius: 10rem;
                        transition: all ease .4s;
                    }
                }

                &:hover {
                    p {
                        color: rgb(170, 16, 16);
                    }

                    .nav-point .bullet {
                        background: rgb(170, 16, 16);
                    }
                }
            }
        }
    }
}