@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #F7F8F8 , #ACBB78);
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Oswald';
    overflow-y: hidden;
}

/*************************
     *** TYPOGRAPHY ***
*************************/

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

p, a {
    font-size: 2.2rem;
    margin: 1rem;
}

a {
    color: white;
}

/*************************
     *** PANELS ***
*************************/

.panel-wrapper {
    transform: translateX(13vw);
    padding-right: 13vw;
}

.panel-wrapper > div {
    height: 60rem;
    display: flex;
    color: white;
    min-width: 130rem;
    -webkit-box-shadow: 0px 0px 66px 13px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 66px 13px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 66px 13px rgba(0,0,0,0.42);
}

.panel {
    height: 100%;
}

.panel .container {
    padding: 10rem;
    display: flex;
    width: 70vw;
    min-width: 110rem;
}

.flex-cell {
    flex: 1;
    overflow: hidden;
}

/*************************
     *** WELCOME PANEL ***
*************************/

.WelcomePanel {
    background: linear-gradient(to top right, rgb(74, 31, 153), #D76D77, rgb(241, 153, 95));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WelcomePanel .container {
    flex-direction: column;
}

.WelcomePanel h1 {
    margin-bottom: 3.5rem;
}

/*************************
     *** PORTFOLIO PANEL ***
*************************/

.PortfolioPanel {
    background: linear-gradient(to bottom left, #2c3e50, #3498db);
    text-align: center;
    display: flex;
}

.PortfolioPanel p {
    font-size: 2rem;
}

.PortfolioPanel .container {
    padding: 0;
}

.PortfolioPanel .portfolio-showcase {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PortfolioPanel .reversed {
    flex-direction: column-reverse;
}

.PortfolioPanel .portfolio-showcase:nth-child(1) {
    background: #2c3e50;
}

.PortfolioPanel .portfolio-showcase:nth-child(2) {
    background: #c55220;
}

.PortfolioPanel .portfolio-showcase:nth-child(3) {
    background: red;
}

.PortfolioPanel .portfolio-showcase .img-container {
    width: 100%;
    height: 50%;
}

.PortfolioPanel .portfolio-showcase img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0 1.5rem;
}

.PortfolioPanel .portfolio-showcase .description {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
} 

.PortfolioPanel .portfolio-intro {
    flex: 0.7;
}

.PortfolioPanel .portfolio-intro .intro-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem;
    height: 100%;
}
