@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #F7F8F8 , #ACBB78);
    
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Oswald';
}

/*************************
     *** TYPOGRAPHY ***
*************************/

h1 {
    font-size: 6rem;
}

p {
    font-size: 2.2rem;
    margin: 1rem;
}

/*************************
     *** PANELS ***
*************************/

.panel-wrapper {
    height: 60rem;
    display: flex;
    color: white;
}

.panel {
    height: 100%;
    width: 60vw;
}

.panel .container {
    padding: 10rem;
}

.WelcomePanel {
    background: linear-gradient(to top right, rgb(74, 31, 153), #D76D77, rgb(241, 153, 95));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WelcomePanel h1 {
    margin-bottom: 3.5rem;
}